*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.nav
*.snm
*.vrb
*.out
*.synctex.gz
*.pyc
*.DS_Store
__pycache__/*
final/*
update/*
proposal/*
*.xopp
*.xopp~
papers/[Jonathan_Katz,_Yehuda_Lindell]_Introduction_to_Mo(z-lib.org).pdf
.gitignore
